/* Some starer styling. Feel free to change anything you like */

body {
  background-color: rgb(220, 220, 220);
  font-size: 15px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  background: none;
  border: 0;
  display: block;
  width: 100%;
}

button.prev {
  text-align: left;
}

button.next {
  text-align: right;
}

table {
  margin: 50px auto;
  border-radius: 3px;
  border-collapse: collapse;
  background-color: #fff;
  max-width: 600px;
  width: 50%;
}

table thead {
  text-align: left;
}

table thead th {
  padding: 10px;
  min-width: 130px;
}

table tr:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

table thead tr {
  background-color: #fff !important;
}

table tr td {
  padding: 10px;
}

table tfoot {
  font-weight: bold;
}

@media (max-width: 768px) {

  table thead {
    display: none;
  }

  table tbody tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  table tr td {
    display: block;
    width: 50%;
    word-wrap: break-word;
  }

  table tbody tr td:before {
    content: attr(data-th);
    display: block;
    text-align: left;
    font-weight: bold;
  }

  table tfoot tr {
    display: flex;
  }

  @media (max-width: 375px) {
    table tr td {
      font-size: 12px;
    }
  }
}